<div class="new-task-wrapper">
  <mat-card class="new-task">
    <mat-card-header>Новая задача</mat-card-header>
    <mat-divider></mat-divider>
    <form style="margin-top: 6px">
      <mat-form-field>
        <input [formControl]="todoControl" matInput placeholder="Название задачи">
      </mat-form-field>

      <mat-form-field>
        <input [formControl]="categoryControl" matInput [matAutocomplete]="auto" type="text" placeholder="Категория">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredValues" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div class="button-wrapper">
        <button (click)="submit()" mat-flat-button color="primary">Ок</button>
      </div>
      <div class="button-space"></div>
      <div class="button-wrapper">
        <button class="cancel-button" (click)="exitCreatingMode()" mat-flat-button>Отмена</button>
      </div>
    </form>
  </mat-card>
</div>

