<div *ngIf="editMode" class="todo-editor-wrapper">
  <mat-card>
    <mat-card-header>Новая задача</mat-card-header>

    <mat-divider></mat-divider>

    <div class="input-fields" [formGroup]="newTodoEditorGroup">
      <mat-form-field>
        <input formControlName="todo" type="text" matInput placeholder="Название задачи">
        <mat-error *ngIf="newTodoEditorGroup.get('todo').invalid">{{getTodoErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="project" type="text" matInput [matAutocomplete]="auto" placeholder="Категория">
        <mat-error *ngIf="newTodoEditorGroup.get('project').invalid">{{getProjectErrorMessage()}}</mat-error>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of options; trackBy: trackBy" [value]="option.title">
            {{option.title}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <button (click)="submit()" mat-flat-button color="primary">Ок</button>
    <button (click)="leaveNewTodoEditor()" mat-flat-button>Отмена</button>

  </mat-card>
</div>

<mat-toolbar color="primary">
  <div class="toolbar">
    <h1>Задачи</h1>
    <button (click)="enterNewTodoEditor()" mat-flat-button color="primary">+</button>
  </div>
</mat-toolbar>

<div class="projects-wrapper">
  <app-project *ngFor="let project of projects; trackBy: trackBy" [project]="project">
  </app-project>
</div>
